* {
    margin: 0;
    padding: 0;
}

body {
    width: 350px;
    max-height: 500px;
}

.extension-heading {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gainsboro;
    padding: 10px;
}

.cancel-page {
    height: 18px;
    cursor: pointer;
}

.extension-title {
    font-size: 16px;
    font-weight: 300;
}

.timer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.timer-outline {
    border: 3px solid gray;
    border-radius: 100px ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 10px 0px;
}

.timer{
    display: flex;
    align-items: center;
    font-size: 16px;
}

.colons {
    margin-bottom: 5px;
}


.hours, .minutes, .seconds {
    width: 15px;
}

.timer-toggle {
    color: green;
    cursor: pointer;
    border: none;
    background-color: white;
}

.options-section {
    border: 1px solid gainsboro;
    border-left: none;
    border-right: none;
}

.options {
    display: flex;
    list-style: none;
}

.option-item{
    padding: 5px 10px;
    cursor: pointer;
}

.option-item:hover {
    font-weight: 400;
    text-decoration: underline;
}

.search-section {
    border-bottom: 1px solid gainsboro;
}

.search-content {
    display: flex;
    padding: 0px 5px;
    align-items: center;
}

.magnifying-glass, .plus  {
    height: 16px;
}

.website-search {
    height: 30px;
    width: 100%;
    border: none;
}

.website-search:focus {
    outline: none;
}

.add-website {
    display: flex;
    align-items: center;
    height: 30px;
    border: none;
    border-bottom: 1px solid gainsboro;
    padding: 5px;
    cursor: pointer;
}

#website-cards-section {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

.website-card {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid gainsboro;
}

.website-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.website-text {
    font-size: 13px;
    font-weight: 600;
}

.website-controls {
    justify-content: flex-end;
}
.website-card svg {
    cursor: pointer;
}

.website-edit {
    height: 16px;
}

.website-cancel{
    height: 18px;
}

footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}